{% load static %}

<link rel="stylesheet" href="{% static 'attendanceApp/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'attendanceApp/css/base.css' %}">

<div align="middle" class="jumbotron">
</div>

{% block jumbotron %}
<div class="card text-center">
    <div class="card-header">
        <img src="{% static 'codeCrew.png' %}" class="codeCrewLogo">
    </div>
    <div class="card-body">
        <h5 class="card-title">Hello</h5>
        <p class="card-text">Would you like to plug-in or unplug?</p>
        <span>
            <a href="{% url 'clockIn' %}"><button class="btn btn-warning btn-lg">Plug-In</button></a>
            <a href="{% url 'clockOut' %}"><button class="btn btn-warning btn-lg">Unplug</button></a>
        </span>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{messages.tags}}">{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="card-footer text-muted">
        The Best Things Arrive On Time
    </div>
</div>





<div class="base">
</div>
{% endblock %}

<script src="{% static 'attendanceApp/jquery-3.3.1.min.js' %}"></script>
<script src="{% static  'attendanceApp/bootstrap.js' %}"></script>