{# Testing here #}
{% load static %}

<link rel="stylesheet" href="{% static 'attendanceApp/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'attendanceApp/css/index.css' %}">

<div align="middle" class="history">
    <h1>{{user.get_username}}</h1>
    <h1> Attendance History</h1>
    <hr width="75%" class="hr"/>

{% block jumbotron %}
    {% if clockInRecord or clockOutRecord%}

    <div class="row justify-content-center">
       <h1>Plugged-In</h1>
    </div>
    <br/>
    <div class="row justify-content-center" id="clockin">
        {% for record in clockInRecord %}
        <h3 class="col-12">In at: {{record.clockIn}}</h3>
        {% endfor %}
    </div>
    <hr/>
    <div class="row justify-content-center">
        <h1>Unplugged</h1>
    </div>
    <br/>
    <div class="row justify-content-center" id="clockout">
        {% for record in clockOutRecord %}
        <h3 class="col-12">Out at: {{record.clockOut}}</h3>
        {% endfor %}
    </div>
    <hr/>
    <a href="{% url 'logout' %}"><button class="btn btn-outline-danger">Log Out</button></a>


</div>

{% else %}

<div align="middle">
    <div class="UserSetUp">
        <h1> Welcome!</h1>
        <p>No Attendance Available.</p>
        <a class=""  href="{% url 'login'%}"><button class="btn btn btn-outline-danger">Click here to log in a student.</button></a>
        <br/><br/>
        <a href="{% url 'logout' %}"><button class="btn btn-outline-danger">Log Out</button></a>
    </div>
</div>
{% endif %}
{% endblock %}





<script src="{% static 'attendanceApp/jquery-3.3.1.min.js' %}"></script>
<script src="{% static  'attendanceApp/bootstrap.js' %}"></script>